@font-face {
    font-family: 'MYRIADPRO';
    src: local('MYRIADPRO-Bold'),
    url('MYRIADPRO-Bold.OTF') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MYRIADPRO';
    src: local('MYRIADPRO-SemiBold'),
    url('MYRIADPRO-SemiBold.OTF') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MYRIADPRO';
    src: local('MYRIADPRO-Regular'),
    url('MYRIADPRO-Regular.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}


